@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-home {
    background: url("./img/meeting2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-about {
    background: url("./img/statline.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-contact {
    background: url("./img/shakingclient.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-contact-home {
    background: url("./img/homeinsurance.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

::-webkit-scrollbar {
  height: 100%;
  width: 8px;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: #262527;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #dbdfe6;
  background-clip: content-box;
  background-color: #dbdfe6;
}

::-webkit-scrollbar-button {
  display: none;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

body {
  color: #4b5563;
  background-color: #ffffff;
  font-family: "Ruda", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

.clip-hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
